nav{
    display: flex;
    justify-content: space-between;
}
h1 {
    font-family: monospace;
    font-size: 100px;
    color: darkorange;
}
h2{
    font-family: monospace;
    font-size: 50px;
    color: aliceblue;
}

body{
    font-family: 'monospace';
    font-size: ;
    color: ;
    background-color: #080808;
    background-image: linear-gradient(to bottom right,#000000,#12010d, #310123, #340334);
}
.contactdetails{
    display: inline-flex;
}
.contactdetails li{
    list-style:none;
    padding: 1rem;
}
.Aboutme{
display: flex;
justify-content: space-around;
align-items: center;
font-size: 20px;

}
.image img{
    border-radius: 25%;
    width: 70%;
}
.image{
width: 40%;
display: flex;
justify-content: center;
}
.Intoduction{
    width: 60%;
    display: flex;
    justify-content: left;
    color: white;

}
#contactdetails{
    color: darkorange;
}
.Projects{
    display: flex;
justify-content: left;
font-size: 20px;


}
.description2{
    display: flex;
    justify-content: left;
}
h2{
    color: darkorange;
}
h3{
    color: darkorange;
    font-size: 25px;

}
p{
    color: white;
 
}

ul{
    color: white;

}
.Getintouch{
    color: white;

}