nav{
    display: flex;
    justify-content: space-between;
}
h1 {
    font-family: monospace;
    font-size: 100px;
    color: darkorange;
}
h2{
    font-family: monospace;
    font-size: 50px;
    color: aliceblue;
}

body{
    font-family: 'monospace';
    font-size: 20px;
    color: aliceblue;
    background-color: #080808;
    background-image: linear-gradient(to bottom right,#0b0208,#0e0c10, #480e48);
}
.contactdetails{
    display: inline-flex;
}
.contactdetails li{
    list-style:none;
    padding: 1rem;
}
.Aboutme{
display: flex;
justify-content: space-around;
align-items: center;
}
.image img{
    border-radius: 25%;
    width: 70%;
}
.image{
width: 40%;
display: flex;
justify-content: center;
}
.intoduction{
    width: 60%;
    display: flex;
    justify-content: left;
}
#contactdetails{
    color: darkorange;
}
.Projects{
    display: flex;
justify-content: left;

}
.description2{
    display: flex;
    justify-content: left;
}
#h2{
    color: darkorange;
 
}